In [1]:
print("Subhash Ekanayake")

Subhash Ekanayake

In [2]:
print('*' * 10)

**********

In [5]:
price =10 
rating = 5.6
name = "Subhash"
isPublished = True
isPassed = False

In [6]:
#ex1
name = "John Smith"
age = 20
isNewPatient = True

In [8]:
name = input("what is your name?")
print('Hi ' + name)

Hi Subhash

In [9]:
#ex2
name = input("gimme your  name: ")
color = input("gimme your favourite color: ")
print(name + ' likes ' + color)

Subhash likes white

In [10]:
birthYear = input('Enter birth year: ')
age = 2024 - birthYear
print(age)

TypeError: unsupported operand type(s) for -: 'int' and 'str'

In [14]:
birthYear = int(input('Enter birth year: '))
print(type(birthYear))
age = 2024 - birthYear
age

<class 'int'>

24

In [17]:
wPounds = float(input('Your weight in pounds: '))
wKilo = wPounds * 0.45
print( wKilo)

15455.385000000002

In [18]:
course = 'Python for "Beginners"'
print(course)

Python for "Beginners"

In [19]:
course = ''' Hi Jophn
Here is the first email 
Than. 



youuu'''
print(course)

 Hi Jophn
Here is the first email
Than.



youuu

In [ ]:
course[:5]

'pytho'

In [22]:
course = 'python for beginners'
course[0]

'p'

In [23]:
course[-1]

's'

In [24]:
course[0:3]

'pyt'

In [25]:
course[1:5]

'ytho'

In [27]:
course = 'python for beginners'
another = course[:]
another

'python for beginners'

In [28]:
course[:5]

'pytho'

In [29]:
course[5:]

'n for beginners'

In [32]:
name = 'Jennifer' #exluding both first and last chracters
print(name[1:-1])

ennife

In [36]:
first = 'John'
last = 'Smith'
#John [Smith] is a coder

message = first + ' [' + last + '] ' + 'is a coder' # this way is much difficult
msg = f'{first} [{last}] is a coder'
msg
#message

'John [Smith] is a coder'

In [37]:
course = 'Python for Beginners'
print(len(course))

20

In [38]:
course.upper()

'PYTHON FOR BEGINNERS'

In [41]:
course.lower()

'python for beginners'

In [42]:
course.capitalize()

'Python for beginners'

In [43]:
course.find('P')

0

In [44]:
course.find('r')

9

In [45]:
course.find('Beginners') #find shows first character index of this word

11

In [48]:
course.replace('Beginners','Absolute Beginners')

'Python for Absolute Beginners'

In [49]:
course.replace('P','J')

'Jython for Beginners'

In [51]:
'Python' in course

True

In [52]:
'Jython' in course

False

In [53]:
len(course)

20

In [55]:
course.title()

'Python For Beginners'

What I learned,
    len()
    course.upper()
    course.lower()
    course.title()
    course.find()
    course.replace()
    '....' in course

In [1]:
#Arithmetic operations
10+3

13

In [2]:
10-3

7

In [3]:
10*3

30

In [4]:
10/3

3.3333333333333335

In [5]:
10**3

1000

In [7]:
x = 10 + 3 * 2 ** 4
x

58

In [8]:
x= (2+3) * 10 - 3
x

47

Math Functions

In [3]:
x= 2.9
round(x)

3

In [4]:
x = 2.4
round(x)

2

In [5]:
abs(-2.4)

2.4

In [6]:
import math
math.ceil(2.2)

3

In [7]:
math.floor(4.7)

4

if statement

In [8]:
is_hot = True

if is_hot:
    print("It is a hot day")
    
print("Enjoy your day")

It is a hot day
Enjoy your day

In [10]:
is_hot = False

if is_hot:
    print("It is a hot day")
else:
    print("It is a cold day")
    
print("Enjoy your day")

It is a cold day
Enjoy your day

In [12]:
is_hot = False
is_cold = False

if is_hot:
    print("It is a hot day")
elif is_cold:
    print("It is a cold day")
else:
    print("It is a lovely day")
    
print("Enjoy your day")

It is a lovely day
Enjoy your day

In [13]:
price = 1000000
hasGoodCredit = True

if hasGoodCredit:
    downPayment = price * 0.1
else:
    downPayment = price * 0.2
    
print(f"Down payment: {downPayment}")

Down payment: 100000.0

Logical operators

In [14]:
hasHighIncome = True
hasGoodCredit = True

if hasGoodCredit and hasHighIncome:
    print("Eligible for loan")

Eligible for loan

In [19]:
hasHighIncome = True
hasGoodCredit = False

if hasGoodCredit or hasHighIncome:
    print("Eligible for loan")
    
else:
    print("Not eligible for loan")

Eligible for loan

In [20]:
hasHighIncome = False
hasGoodCredit = False

if hasGoodCredit or hasHighIncome:
    print("Eligible for loan")
    
else:
    print("Not eligible for loan")

Not eligible for loan

Comparison operators

In [21]:
temp = 30

if temp>30:
    print("hot day")
else:
    print("not hot day")

not hot day

In [23]:
name = "Subhash"

if len(name)<3:
    print("Name must be at least 3 characters")
elif len(name)>50:
    print("Name can be maximum of 50 charaacters")
else:
    print("Name looks good")

Name looks good

In [27]:
#weight converter

weight = float(input("Enter your weight: "))
unit = input("Enter unit (L)bs or (K)g:  ")

if unit.lower() == "l":
    kilos = weight*0.45
    print(f"Weight in kilos : {kilos}")
elif unit.lower()  == "k":
    lbs = weight/0.45
    print(f"Weight in Lbs: {lbs}")
else:
    print("No found")

Weight in kilos : 14.85

while loops

In [28]:
i = 1
while i<=5:
    print(i)
    i=i+1

1
2
3
4
5

In [ ]:
#guessing game
secretNumber = 9

guessCount = 0
guessLimit = 3

while guessCount < guessLimit:
    guess = int(input("Guess: "))
    guessCount += 1
    if guess == secretNumber:
        print("You won")
        break
    
    else:
        print("You failed")

You failed
You failed
You won

In [4]:
last = 100
i = 2

while i<=100:
    print(i)
    i*=2

2
4
8
16
32
64

In [6]:
#Car game

userInp = ""

while userInp != 'quit':
    userInp = input(">")
    if userInp.lower() == 'help':
        print("start - to start the car")
        print("stop - to stop the car")
        print("quit - to exit")
    elif userInp.lower() == 'start':
        print("Car started...Ready to go!")
    elif userInp.lower() == 'stop':
        print("Car stopped.")
    else:
        print("Invalid input")
else:
    print("exit game")

start - to start the car
stop - to stop the car
quit - to exit
Car started...Ready to go!
Car stopped.
Invalid input
Invalid input
exit game

for loops

In [8]:
for item in 'Python':
    print(item)

P
y
t
h
o
n

In [10]:
for x in ["Subhash","Samuditha","Bandara","Ekanyake"]:
    print(x,end=" ")

Subhash Samuditha Bandara Ekanyake

In [11]:
for y in [1,2,3,4,5,6,7,8,9]:
    print(y*10)

10
20
30
40
50
60
70
80
90

In [12]:
for item in range(10):
    print(item*10)

0
10
20
30
40
50
60
70
80
90

In [13]:
for item in range(5,10):
    print(item)

5
6
7
8
9

In [14]:
for item in range(5,20,2):
    print(item)

5
7
9
11
13
15
17
19

In [17]:
prices = [10,20,30]
total = 0
for x in prices:
     total = total +x 
     
     
print(f"Total is :{total}")

Total is :60

In [19]:
#nested loops
for x in range(4):
    for y in range(3):
        print(f'({x}, {y})')

(0, 0)
(0, 1)
(0, 2)
(1, 0)
(1, 1)
(1, 2)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)

In [25]:
#Challenge
numbers = [5,2,5,2,2]

for number in numbers:
    print(number*'X')
    
    #python can multiply string by a number(beauty of python)

XXXXX
XX
XXXXX
XX
XX

In [26]:
numbers = [5,2,5,2,2]

for x_count in numbers:
    output=''
    for count in range(x_count):
        output+= 'X'
    print(output)

XXXXX
XX
XXXXX
XX
XX

Lists

In [27]:
names = ['John','Bob','Bosh','Sarah','Mosh']
names

['John', 'Bob', 'Bosh', 'Sarah', 'Mosh']

In [28]:
names[0]

'John'

In [29]:
names[-1]

'Mosh'

In [30]:
names[2:]

['Bosh', 'Sarah', 'Mosh']

In [31]:
names[:3]

['John', 'Bob', 'Bosh']

In [32]:
names[1:4]

['Bob', 'Bosh', 'Sarah']

In [33]:
names[:]

['John', 'Bob', 'Bosh', 'Sarah', 'Mosh']

In [34]:
names

['John', 'Bob', 'Bosh', 'Sarah', 'Mosh']

In [35]:
names[0]="Subha"
names

['Subha', 'Bob', 'Bosh', 'Sarah', 'Mosh']

In [40]:
L= [22,4,13,77,63,92,53,66] #take out largest number of list
max = L[0]

for n in L:
    if n > max:
        max = n

print(max)

92

2D lists

In [42]:
matrix = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]

matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [44]:
matrix[0][0]

1

In [46]:
matrix[0][0] = 9999
matrix

[[9999, 2, 3], [4, 5, 6], [7, 8, 9]]

In [48]:
for row in matrix:
    print(row)

[9999, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [49]:
for row in matrix:
    for item in row:
        print(item)

9999
2
3
4
5
6
7
8
9

List methods

In [51]:
numbers = [5, 2, 1, 7, 4]
numbers.append(13) #adding value to right corner
numbers

[5, 2, 1, 7, 4, 13]

In [66]:
numbers.insert(2,65) #inserting value where we want position
numbers

[5, 2, 65, 1, 7, 4, 13]

In [67]:
numbers.remove(7)

In [70]:
numbers.clear()
numbers

[]

In [75]:
numbers = [5, 2, 65, 1, 7, 4, 13]
numbers

[5, 2, 65, 1, 7, 4, 13]

In [76]:
numbers.pop() #pop out last element

13

In [78]:
numbers.index(65) #get index of any element

2

In [79]:
print(5 in numbers)

True

In [80]:
print(54444 in numbers)

False

In [81]:
numbers = [5, 2, 65, 1, 7, 4, 13]
numbers

[5, 2, 65, 1, 7, 4, 13]

In [90]:
numbers.insert(4,5)
numbers

[1, 2, 4, 5, 5, 5, 7, 13, 65]

In [91]:
numbers.count(5) #counting how many 5 numbers

3

In [96]:
numbers = [5, 2, 65, 1, 7, 4, 13]
numbers.sort()
numbers

[1, 2, 4, 5, 7, 13, 65]

In [97]:
numbers.reverse()
numbers

[65, 13, 7, 5, 4, 2, 1]

In [99]:
numbers2 = numbers.copy()
numbers2

[65, 13, 7, 5, 4, 2, 1]

In [101]:
numbers

[65, 13, 7, 5, 4, 2, 1]

In [102]:
numbers2

[65, 13, 7, 5, 4, 2, 1]

In [103]:
numbers.append(10)
numbers

[65, 13, 7, 5, 4, 2, 1, 10]

In [105]:
numbers2 #10 is not added numbers2 list

[65, 13, 7, 5, 4, 2, 1]

In [108]:
newList = [2,4,8,2,9,37,9,2,45,37]
uniques = []

for number in newList:
    if number not in uniques:
        uniques.append(number)
        
uniques

[2, 4, 8, 9, 37, 45]

Tuples

In [114]:
#tuples are immutable(only have count and index methods)
numbers = (1,2,3,2,2,6,3,99,2,2)
numbers[0]

1

In [115]:
numbers.count(2)

5

In [116]:
numbers.index(99)

7

unpacking

In [117]:
#we can use this feature tuples,lists
coordinates = (1,2,3)
x,y,z = coordinates
print(x)

1

In [118]:
x*y*z

6

Dictionaries

In [120]:
#store key,value,pairs

customer = {
    "name" : "John Smith",
    "age" : 30,
    "is_verifies":True
}

customer["name"]

'John Smith'

In [126]:
customer["age"]

30

In [127]:
customer.get("name")

'John Smith'

In [128]:
customer.get("Birthday") #instead of getting error showing None,None is a object

In [129]:
customer

{'name': 'John Smith', 'age': 30, 'is_verifies': True}

In [132]:
customer["birthDay"] = "Jan 1 2000" #dictionaries are mutable
customer

{'name': 'John Smith',
 'age': 30,
 'is_verifies': True,
 'birthDay': 'Jan 1 2000'}

In [142]:
phone =input("Enter phone: ")

digitsMapping ={
    "1" : "One",
    "2" : "Two",
    "3" : "Three",
    "4" : "Four",
    "5" : "Five",
    "6" : "Six",
    "7" : "Seven",
    "8" : "Eight",
    "9" : "Nine"
}

output = ""
for ch in phone:
    output += digitsMapping.get(ch, "!") + " "
    
output

'Eight Seven Five Nine '

Emoji convertor

In [146]:
message = input(">")
words = message.split(' ')
words

['Python', 'for', 'beginners']

In [154]:
message = input(">")
words = message.split(' ')
emojis = {
    ":)" : "😊",
    ":(" : "😣",
    "<3" : "😘",
}  

output = ""
for word in words:
    output += emojis .get(word, word) + " "
    
output

'Good Morning 😊 '

Functions

In [157]:
def greetUser():    #'def' means define
    print("Hi there")


print("Start")
greetUser()
print("Stop")

Start
Hi there
Stop

Parameters

In [159]:
#parameters are like placeholders for receiving infomation
def greetUser(name):
    print(f'Hi {name}')
    
    
print('Start')
greetUser("John")
greetUser("Mary")
print('Stop')

Start
Hi John
Hi Mary
Stop

In [162]:
def greetUser(firstName,lastName):
    print(f'Hi {firstName} {lastName}')
    
print("Start")
greetUser("John","Smith") #positional arguments
print("Stop")

Start
Hi John Smith
Stop

keyword arguments

In [163]:
def greetUser(firstName,lastName):
    print(f'Hi {firstName} {lastName}')
    
print("Start")
greetUser(lastName="John",firstName="Smith") #In certain situations we use keyword argumwnts
print("Stop")

Start
Hi Smith John
Stop

return statement

In [172]:
def square(number):  #all python function have "return None" in by default
    print(number * number)
    #return None (None means an object that represents the absence of a value)
 
print(square(3)  )

9
None

In [173]:
def square(number):  #all python function have "return None" in by default
    return(number * number)
 
print(square(3)  )

9

Creating reusable function

In [174]:
def emojiConverter(message):
    words = message.split(' ')
    emojis = {
        ":)" : "😊",
        ":(" : "😣",
        "<3" : "😘",
    }  

    output = ""
    for word in words:
        output += emojis .get(word, word) + " "
    return output    
        
        

message = input(">")
emojiConverter(message)

'Good morning 😘 '

Exceptions - used for handling errors(helps to run successfully with exit code 0)

In [176]:
try:
    age = int(input("Enter age: "))
    print(age)
except ValueError:
    print("Invalid value")

Invalid value

In [177]:
try:
    age = int(input("Enter age: "))
    income = 20000
    risk = income/age
    print(risk)
except ValueError:
    print("Invalid value")
except ZeroDivisionError:
    print("Age can't be zero")

Age can't be zero

Comments

In [179]:
#print sky is blue
print("Ocean is blue")

Ocean is blue

Classes